<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!--  <style type="text/css">
        .pagination li
        {
            display: inline;
            padding-right: 20px;
            list-style: none;
        }
        ul li{list-style: none;}
    </style>
    <script type="text/javascript">
        function loadXMLDoc(str)
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                }
            }
            xmlhttp.open("POST","/public/index/index/a/page/"+str,true);
            xmlhttp.send();
        }
    </script>-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<table class="table table-bordered table-hover">
<tr>
    <th>id</th>
    <th>title</th>
    <th>content</th>
    <th>create_time</th>
    <th>update_time</th>
</tr>
    {volist name="list" id="vo"}
<tr>
    <td>{$vo.id}</td>
    <td>{$vo.name}</td>
    <td>{$vo.content}</td>
    <td>{$vo.create_time}</td>
    <td>{$vo.update_time}</td>
</tr>
    {/volist}

</table>

<a href="add.html">发布留言</a>
<!--<input type="text" onkeyup="loadXMLDoc(this.value)">请求数据</input>-->
{$list->render()}

</body>
</html>